In [30]:
import pandas as pd
import numpy as np

# Basit bir öğrenci notları veri seti oluşturalım
data = pd.DataFrame({
    'Öğrenci İsmi': ['Ali', 'Buse', 'Cem', 'Deniz', 'Eren', 'Feyza', 'Gökhan'],
    'Not': [90, 85, 88, 78, 92, 95, 200]  # Aykırı bir not ekleyelim (200)
})

In [31]:
# Veriyi gösterelim
print("Veri Seti:")
print(data)

Veri Seti:
  Öğrenci İsmi  Not
0          Ali   90
1         Buse   85
2          Cem   88
3        Deniz   78
4         Eren   92
5        Feyza   95
6       Gökhan  200

In [32]:
# Aykırı değerleri bulmak için standart sapma tabanlı bir yöntem kullanalım
factor = 1.5  # Aykırı değerleri tanımlamak için kullanacağımız faktörü ayarlayalım
upper_limit = data['Not'].mean() + data['Not'].std() * factor
lower_limit = data['Not'].mean() - data['Not'].std() * factor

In [33]:
# Aykırı değerleri gösterelim
outliers = data[(data['Not'] > upper_limit) | (data['Not'] < lower_limit)]
print("\nAykırı Değerler:")
print(outliers)

Aykırı Değerler:
  Öğrenci İsmi  Not
6       Gökhan  200

In [34]:
# Aykırı değerleri veriden kaldıralım
data = data[(data['Not'] <= upper_limit) & (data['Not'] >= lower_limit)]

In [35]:
# Aykırı değerleri kaldırdıktan sonra yeni veriyi gösterelim
print("\nAykırı Değerler Kaldırıldıktan Sonraki Veri Seti:")
print(data)

Aykırı Değerler Kaldırıldıktan Sonraki Veri Seti:
  Öğrenci İsmi  Not
0          Ali   90
1         Buse   85
2          Cem   88
3        Deniz   78
4         Eren   92
5        Feyza   95